@{
    ViewData["Title"] = "Contact";
}
<h2>Nous Joindre</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Cegep Sainte-Foy<br />
    2410 Ch Ste-Foy<br />
    Québec, QC G1V 1T3<br />
    <abbr title="Telephone">P:</abbr>
    (418) 659-6600
</address>

<address>
    <strong>Services:</strong> <a href="mailto:info@cegep-ste-foy.qc.ca">info@cegep-ste-foy.qc.ca</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
